@import "tailwindcss";

@theme {
  /* Así se configuran las fuentes en Tailwind v4 */
  --font-urbanist: "Urbanist";
  --font-open-sans: "Open Sans";
}

.grain-overlay {
    pointer-events: none;
    background-image: url('../assets/noise.svg');
    background-repeat: repeat;
    position: fixed;
    opacity: 0.55;
}

.card {
    background-color : #21201F;
    border-radius: 14px;
    padding: 1rem;
    @apply drop-shadow-lg;
}