@import "tailwindcss";

@theme inline {
  --font-sans-serif: var(--font-urbanist);
  --font-sans: var(--font-open-sans);
}

.grain-overlay {
    pointer-events: none;
    background-image: url('../assets/noise.svg');
    background-repeat: repeat;
    position: fixed;
    opacity: 0.55;
}

.card {
    background-color : #21201F;
    border-radius: 14px;
    padding: 16px;
    @apply drop-shadow-lg;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #D3CFCA transparent;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #D3CFCA;
  border-radius: 8px;
}